  body {
    background-color: black;
  }
    
 .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

  table {
    width: 100%;
    border-collapse: collapse;
    border-style: none;
  }

/* banner card style */

.banner { 
  margin-bottom: 60px; 
}

.banner-card {
  position: relative;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
}

.banner-card .banner-content {
  position: absolute;
  right:  80px;
  bottom: 60px;
  left:   80px;
}

.banner-card .banner-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.banner-card .banner-info div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.banner-card .banner-info ion-icon {
  font-size: 20px;
  color: white;
  margin-right: 5px;
}

.banner-card .banner-info span { 
  font-weight: normal; 
  color: white;
}

.banner-card .banner-info {
  background: none;
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: normal;
}

.banner-card .card-title {
  font-size: 3em;
  color: white;
  text-shadow: 2px 0 2px #0007;
}

div.panel-footer {
  width: 100%;
  text-align: center;
  color: white;
}

div.panel-footer a {
  display: inline;
}
