body {
  font-family: serif;
  margin: 0;
  padding: 0;
}

/*Header Styles*/
header {
  background-color: white;
  padding: 10px;
}

nav ul {
  display: inline;
  margin-right: 10px;
}

nav a {
  color: black;
  text-decoration: none;
}

/*Hero Section Styles*/
.hero {
  background-image: url('Movie.webp');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 0;
}

.hero h1 {
  font-size: 36px;
  margin-bottom:20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.scroll-container {
  overflow-x: scroll;
  white-space: nowrap;
}

.scroll-content {
  width: 100%;
  display: inline-block;
}

.scroll-content img {
  width: 200px;
  height: 300px;
}

.polaroid {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.polaroid img {
  width: 200px;
  height: 300px;
  border: 10px solid white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: rotate(-2deg);
}

.polaroid .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: white;
  text-align: center;
  font-weight: bold;
}

/* Movies Section Styles */
.movies {
  padding: 50px 0;
}

.movies h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* TV Shows Section Styles */
.tv-shows {
  background-color: #f4f4f4;
  padding: 50px 0;
}

.tv-shows h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* News Section Styles */
.news {
  padding: 50px 0;
}

.news h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

footer p {
  font-size: 14px;
  margin: 0;
}


/* Games Section Styles */
.games {
  background-color: #f4f4f4;
  padding: 50px 0;
}

.games h2 {
  font-size: 20px;
}

/* App Section Styles */
.apps {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.apps h2 {
  font-size: 24px;
  color: black;
  text-align: left;
}

.app-card {
  width: 200px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.app-card h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.app-card p {
  font-size: 14px;
  color: #666;
}

















