body {
  background-color: black;
  font-family: 'Verdana', sans-serif;
  margin: 0;
  padding: 0;
}

/*Header Styles*/
header {
  background-color: white;
  padding: 10px;
}

nav ul {
  display: inline;
  margin-right: 10px;
}

nav a {
  color: black;
  text-decoration: none;
}

.scroll-container {
  overflow-x: scroll;
  white-space: nowrap;
}

.scroll-content {
  width: 100%;
  display: inline-block;
}

.scroll-content img {
  width: 200px;
  height: 300px;
}

.polaroid {
  position: relative;
  display: inline-block;
  margin: 10px;
  color: white;
}

.polaroid:hover img {
  transform:scale(1.1);
}

.polaroid img {
  width: 200px;
  height: 300px;
  border: 10px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: rotate(-2deg);
}

.polaroid .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  padding: 10px;
  background-color: black;
  text-align: center;
  font-weight: bold;
  color: white;
}

/* Movies Section Styles */
.movies {
  padding: 50px 0;
}

.movies h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Verdana', sans-serif;
}

/* TV Shows Section Styles */
.tv-shows {
  padding: 50px 0;
}

.tv-shows h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Verdana', sans-serif;
}

/* News Section Styles */
.news {
  padding: 50px 0;
}

.news h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Verdana', sans-serif;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  display: flex;
}

footer p {
  font-size: 14px;
  margin: right;
}
.left-content {
  justify-self: flex-start;
  justify-content: space-between;
}

.right-content {
  justify-self: flex-end;
  justify-content: space-between;
}

.image-container {
  background-color: #333;
}

/* Games Section Styles */
.games {
  padding: 50px 0;
}

.games h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Verdana', sans-serif;
}

body {
  background: black; 
}

.section-heading {
  font-size: var(--section-heading);
  font-weight: normal;
  margin-bottom: 60px;
}

/* main container style */

.container {
  max-width: 1440px;
  margin: auto;
}

/* navbar style */

.navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: left;
}

/* small screen menu button style */

.navbar-menu-btn { 
  display: none; 
}

/* navbar navigation style */

nav {
  margin-right: 200px; 
}

.navbar-nav {
  display: flex; 
}

.navbar-nav li:not(:last-child) {
  margin-right: 60px; 
}

.navbar-link {
  font-size: var(--fs-sm);
  font-weight: normal;
}

.navbar-link:hover {
  color: #F0FFFF; 
}

/* banner card style */

.banner { 
  margin-bottom: 60px; 
}

.banner-card {
  position: relative;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
}

.banner-card .banner-content {
  position: absolute;
  right:  80px;
  bottom: 60px;
  left:   80px;
}

.banner-card .banner-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.banner-card .banner-info div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.banner-card .banner-info ion-icon {
  font-size: 20px;
  color: white;
  margin-right: 5px;
}

.banner-card .banner-info span { 
  font-weight: normal; 
  color: white;
}

.banner-card .banner-info .quality {
  background: #00FFFF;
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: normal;
}

.banner-card .card-title {
  font-size: 3em;
  color: white;
  text-shadow: 2px 0 2px #0007;
}

.banner video {
  position: absolute; /* Overlaps the entire banner section */
  top: 0; /* Position to the top */
  left: 0; /* Position to the left */
  width: 100%; /* Span the full width and height of the banner */
  height: 100%; /* Ensure the video fills the entire banner area */
  object-fit: cover; /* Scale the video to cover the entire area while maintaining aspect ratio */
}

/* navbar form & button style */
.navbar-form {
  position: relative;
  margin-right: 50px;
}

.navbar-form-search {
  background: var(--oxford-blue);
  width: 100%;
  padding: 12px 20px;
  border-radius: 15px;
  color: var(--off-white);
  font-size: var(--fs-sm);
  font-weight: var(--fw-5);
}

.navbar-form-btn {
  background: var(--oxford-blue);
  position: absolute;
  top:   calc(50% - 10px);
  right: 10px;
}

.navbar-form-btn ion-icon,
.navbar-search-btn ion-icon {
  font-size: 20px;
  color: var(--light-azure);
  --ionicon-stroke-width: 50px;
}

.navbar-form-btn:hover ion-icon,
.navbar-form-search::placeholder { 
  color: var(--off-white); 
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: grey;
  color: white;
}

 /* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.logo {
  position: left;
}

