body {
    background-color: black;
  }
    
 .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

  table {
    width: 100%;
    border-collapse: collapse;
    border-style: none;
  }
